/*global styles */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* body*/
body {
  /* height: 100%; */
  background: url(https://images.pexels.com/photos/8636591/pexels-photo-8636591.jpeg?cs=srgb&dl=pexels-kampus-production-8636591.jpg&fm=jpg)
    no-repeat center/cover fixed;
  color: #fff;
  font-family: poppins, sans-serif;
  line-height: 1.6;
}
#main {
  /* background-color: rgba(135,213,226,0.8); */
  background-color: rgba(180, 193, 209, 0.4);
  font-size: 18px;
}
.text-center {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
}
.text-center p {
  font-style: italic;
}

#survey_form {
  /* background-color: rgba(38, 151, 192, 0.8); */
  background-color: rgba(4, 47, 102, 0.7);
  width: 750px;
  padding: 40px;
  border-radius: 5px;
  margin: auto;
}
#survey_form .form-group {
  margin-top: 15px;
}
#survey_form .form-group label {
  display: block;
  margin-bottom: 5px;
}
#survey_form .form-group2 {
  margin-top: 8px;
  /* font-size: 18px; */
}
#survey_form .form-group2 label {
  /* display: block; */
  margin-bottom: 5px;
}
#survey_form input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: #ced4da 1px solid 5px;
  font-size: inherit;
  color: gray;
}

#survey_form input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}
#survey_form input[type="radio"] {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}
#submit_button {
  background-color: tomato;
  margin-top: 20px;
  border: #ced4da 1px solid;
  border-radius: 5px;
  color: white !important;
  font-family: poppins, sans-serif;
  /* font-size: 18px; */
}
